<div id="wrapper">
  <div id="three-column" class="container">
    <div class="title">
      <h2>Westeros</h2>
      <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span>

      <div class="container">
        <div svg-map></div>
      </div>
      <!--
      <div class="boxA">
      <span class="fa fa-cloud-download"></span>
      <p>Praesent pellentesque facilisis elit. Class aptent taciti sociosqu ad  torquent per conubia nostra.</p>
      <a href="#" class="button button-alt">More Info</a>
    </div>
    <div class="boxB">
    <span class="fa fa-cogs"></span>
    <p>Etiam neque. Vivamus consequat lorem at nisl. Nullam  wisi a sem semper eleifend. Donec mattis.</p>
    <a href="#" class="button button-alt">More Info</a>
  </div>
  <div class="boxC">
  <span class="fa fa-wrench"></span>
  <p> Aenean lectus lorem, imperdiet at, ultrices eget, ornare et, wisi. Pellentesque adipiscing purus.</p>
  <a href="#" class="button button-alt">More Info</a>
</div>
-->
</div>
</div>
</div>
