<div id="wrapper">
    <div class="container">
        <div class="nav-casas">
            <ul>
                <li><a data-ng-click="casasVM.nextSlide()" class="glyphicon glyphicon-arrow-left"></a></li>
                <li>
                    <div
                            isteven-multi-select
                            input-model="casasVM.slides"
                            output-model="casasVM.out"
                            button-label="pic nombre"
                            item-label="pic nombre maker"
                            tick-property="ticked"
                            selection-mode="single"
                            on-item-click="casasVM.pick(data)"
                            helper-elements=""
                    >
                    </div>
                </li>
                <li><a data-ng-click="casasVM.prevSlide()" class="glyphicon glyphicon-arrow-right"></a></li>
            </ul>
        </div>


        <div align=center>
            <h1 style="color:black;" data-ng-repeat="slide in casasVM.slides" data-ng-hide="!casasVM.isCurrentSlideIndex($index)">Casa
                {{slide.nombre}}</h1>
        </div>
        </br>
        <div align=center class="container slider">
            <img class="images" data-ng-repeat="slide in casasVM.slides"
                 data-ng-src="casas/{{slide.nombre |formatEscudo}}" data-ng-hide="!casasVM.isCurrentSlideIndex($index)">
        </div>
        </br>
        <div align=center>
            <h3 style="color:black;" data-ng-repeat="slide in casasVM.slides" data-ng-hide="!casasVM.isCurrentSlideIndex($index)">
                {{slide.plot}}</h3>
        </div>
        </br>
        <div align=center>
            <button ng-click="casasVM.registrar()" type="submit" class="btn btn-lg btn-primary" style="margin-bottom: 10px">
                Registrar Casa
            </button>
        </div>
    </div>
</div>
