<div id="wrapper">
  <div id="" class="container">


      <!-- Formulario de registro-->
      <div class="dark-matter">
        <h2>Registro</h2>
        <form role="form" name="form">
          <div class="">
            <!-- nombre -->
            <div class="">
              <span class=""><span class="glyphicon glyphicon-user" ></span></span>
              <input type="text" class="" placeholder="Nombre" name="uName" ng-model="user.name"/>
            </div>
            <!-- email -->
            <!--<div class="">-->
              <!--<span class=""><span class="glyphicon glyphicon-envelope"></span></span>-->
              <!--<input type="email" class="" placeholder="Email" name="uEmail" ng-model="user.email"/>-->
            <!--</div>-->
            <!-- pass -->
            <div class="input-group" style="margin-top: 10px">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" class="form-control" placeholder="Contraseña" name="uPass" ng-model="user.pass"/>
            </div>
            <!-- repass -->
            <div class="">
              <span class=""><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" class="" placeholder="Repita su contraseña" name="uRepass" ng-model="user.repass" />
            </div>
            <button type="submit" class="btn"    ng-click="update(user)">Registrar</button>
            <br/>
          </div>
        </form>
      </div>
  </div>
</div>
