<div id="wrapper">
  <div  id="three-column" class="container">
 <h2 class="dark-matter">Registro de Personaje</h2>
<form name="form"  class="dark-matter">

      <label>
        <span>Nombre:</span>
        <input id="name" type="text" name="name" placeholder="*Sin apellido" ng-model="user.name"/>
      </label>
      <label>
      <span>Sexo:</span>
        <input type="radio" ng-model="user.gender" value="hombre" />Hombre
    <input type="radio" ng-model="user.gender" value="mujer" />Mujer<br />
    </label>
      <label>
        <span>Edad:</span>
        <input id="edad" type="number" name="edad" placeholder="" ng-model="user.edad"/>
      </label>
      <label>
        <span>Apariencia:</span>
        <textarea id="apariencia" name="apariencia" placeholder="Apariencia del personaje" ng-model="user.apariencia" required></textarea>
      </label>
      <label>
        <span>Historia:</span>
        <textarea id="historia" name="historia" placeholder="Historia del personaje" ng-model="user.historia" required></textarea>
      </label>
        <label>
        <span>&nbsp;</span>
        <input type="button" class="button"  ng-click="update(user)" value="Registrar" />
      </label>
   </form>
  </div>
</div>
<!--<a href="#" id="registerForPushLink">Subscribe to Notifications</a>*/-->
<script>
/*
OneSignal.push(function() {
  function registerForPush(event) {
    OneSignal.push(["registerForPushNotifications"], {modalPrompt: true});
    event.preventDefault();
  }
  document.getElementById("registerForPushLink").addEventListener('click', registerForPush, false);

});
  OneSignal.push(["getIdsAvailable", function(ids) {
      console.log("getIdsAvailable:"
      + "\nUserID: " + ids.userId
      + "\nRegistration ID: " + ids.registrationId);
    }]);*/
</script>
