<div id="wrapper">
  <div id="" class="container">


      <!-- Formulario de registro-->
      <div class="dark-matter">
        <h2 class="dark-matter">Registro {{registrarVM.gatetes}}</h2>
        <form role="form" name="form">
            <!-- nombre -->
            <label>
              <span class="glyphicon glyphicon-user" ></span>
              <input type="text"  placeholder="Nombre" name="uName" ng-model="user.name"/>
            </label>
            <!-- email -->
            <!--<div class="">-->
              <!--<span class=""><span class="glyphicon glyphicon-envelope"></span></span>-->
              <!--<input type="email" class="" placeholder="Email" name="uEmail" ng-model="user.email"/>-->
            <!--</div>-->
            <!-- pass -->
            <label>
              <span class="glyphicon glyphicon-lock"></span>
              <input type="password"  placeholder="Contraseña" name="uPass" ng-model="user.password"/>
            </label>
            <!-- repass -->
            <label>
              <span class="glyphicon glyphicon-lock"></span>
              <input type="password"  placeholder="Repita su contraseña" name="uRepass" ng-model="user.re_password" />
            </label>
            <button class="button" ng-click="registrarVM.registrar(user)">Registrar</button>
            <br/>
        </form>
      </div>
  </div>
</div>
