<div id="wrapper">
	<div class="container">

			<!-- Inicio de sesion -->
			<div class="panel panel-default col-xs-6 col-md-offset-3">
				<h2>Iniciar sesión</h2>
				<form role="form" ng-submit="submitLogin()">
					<div class="form-horizontal">
						<div class="input-group" style="margin-bottom: 10px">
							<span class="input-group-addon"><span class="glyphicon glyphicon-user" ></span></span>
							<input type="text" class="form-control" placeholder="Nombre" ng-model="nombre">
						</div>
						<div class="input-group" style="margin-bottom: 10px">
							<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
							<input type="password" class="form-control" placeholder="Contraseña" ng-model="pass">
						</div>
						<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px">Iniciar sesión</button>
					</div>
			</div>
		</div>
	</div>
