<div id="wrapper">
    <div id="three-column" class="container">
        <h1 style="color:black;">Mensajes Privados</h1>
        </br>
        <h2 align="center" style="color:black;">Refrescar para que se actualicen los mensajes</h2>

        <div class="panel panel-default col-xs-6 col-md-offset-3">
            <ul>
                <li data-ng-repeat="msg in msgs">
                    <h2 style="color:black;">{{ msg.remitente }}:</h2>

                    <h3 style="color:black;" style="color:black;"> {{ msg.msgs }}</h3>
                  </br>
                </li>
            </ul>
            </br>
            </br>

            <div class="panel panel-default list-group-item" role="mForm" name="mForm" novalidate>
                <div class="input-group col-xs-12" style="margin-bottom: 10px; margin-top: 10px">
                    <label>
                        <span>Destinatario:</span>
                        <input id="destinatario" type="text" name="destinatario" placeholder="Nombre personaje" ng-model="mensaje.destinatario"
                               required/>
                    </label>
                    <textarea type="text" class="form-control" rows="3" placeholder="Escriba su comentario"
                              ng-model="mensaje.text" required></textarea>
                </div>
                <div class="col-md-offset-8 col-md-4">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="mForm.$invalid"
                            style="margin-bottom: 10px" ng-click="escribir(mensaje)">Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
